html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    user-select: none;
}

/* Typography */

.logo {
    display: inline-block;
    font-size: var(--font-size_xl);
    font-weight: 400;
    color: var(--color_black);
    margin-top: var(--spacing_xl);
    margin-bottom: var(--spacing_m);
}

.sidebar-text {
    font-size: var(--font-size_m);
    transition: padding-left .25s;
}

.sidebar-text:hover {
    background: var(--color_lightgray);
}

.main-text {
    font-size: var(--font-size_s);
    margin: var(--spacing_m) 0 0 0;
    color: var(--color_darkgray);
}

.footer-text {
    font-size: var(--font-size_m);
    text-decoration: none;
}


.footer--list-item:hover {
    color: var(--color_lightblue);
    text-decoration: underline 3px;
    text-underline-offset: var(--spacing_xs);
}

.copyright-text {
    color: var(--color_black);
    font-size: var(--font-size_m);
    padding: var(--spacing_s);
    padding-right: var(--spacing_l);
    margin: 0;
}

.nav-bar--list-item {
    display: inline-block;
    text-decoration: none;
    color: var(--color_white);
    padding: var(--spacing_s) var(--spacing_l);
}

/* Container */

.container {
    width: 1280px;
    margin: 0 auto;
}

/* Grid */

.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 34rem auto;
    grid-template-rows: 24.8rem auto 6.5rem;
    column-gap: var(--spacing_xl);
    row-gap: var(--spacing_l);
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
    background-color: var(--color_gray);
}

/* Nav-bar */

.nav-bar-list {
    display: flex;
    justify-content: center;
    background-color: var(--color_darkgrey);
    list-style: none;
    border-right: 1px solid var(--color_white);
    margin: 0;
    padding: 0;
}

.nav-bar-text {
    font-size: var(--font-size_m);
    border-left: 1px solid var(--color_white);
}

.nav-bar-text_last {
    border-right: 1px solid var(--color_white);
}

.nav-bar-text a {
    text-decoration: none;
    color: var(--color_white);
}

.nav-bar-text:hover {
    background: var(--color_black);
}

/* Logo */

.mda {
    color: var(--color_lightblue);
}

/* Footer */

.footer-list-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--color_gray);
    gap: 10rem;
}

.footer-list {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    list-style: none;
    color: var(--color_black);
    padding-left: 0;
    margin: 0;
}

.footer--list-item {
    display: inline-block;
    padding: var(--spacing_s) var(--spacing_m);
    color: var(--color_black);
    text-decoration: none;
}

/* Sidebar */

aside {
    display: flex;
    flex-direction: column;
}

.sidebar-list {
    border: 1px solid var(--color_gray);
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

.sidebar--list-item {
    display: inline-block;
    padding-top: var(--spacing_s);
    padding-bottom: var(--spacing_s);
    padding-left: var(--spacing_l);
    text-decoration: none;
    color: var(--color_gray);
}

.sidebar-text:hover .sidebar--list-item {
    color: var(--color_black);
    padding-left: var(--spacing_xl);
    padding-right: 100%;
}

/* Article */

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--spacing_xl) 0;
    border: 1px solid var(--color_gray);
    overflow: hidden;
}

img {
    width: 30%;
    transition: transform 0.3s;
}

.image-container:hover img {
    transform: scale(1.5); 
}